@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

html {
    background-color: white;
}

body {
    padding: 0 1.5em;
    font-size: 16;
    font-family: 'Inconsolata', monospace;
    max-width: 700px;
    margin: auto;
    text-align: justify;
}

p code {
    padding: 1px 3px;
    background-color: #ff0f0030;
    font-family: inherit;
}

pre {
    min-height: 1rem;
    padding: .5rem 1rem;
    background-color: #f8f8f8;
    overflow: scroll;
}

a {
    text-decoration: none;
    color: #ff0f00;
    
    white-space: pre-wrap;
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

a:hover {
    text-decoration: underline;
}

img {
    width: 100%;
    height: auto;
}

figcaption {
    margin-top: 4px;
    font-style: italic;
}

blockquote {
    border-left: 1px solid #333;
    padding-left: 1em;
}

hr {
    border: none;
    border-top: 1px solid #333;
    margin: 2em 0;
}

.task-list-item {
    list-style-type: none;
}

.task-list-item-checkbox {
    margin-left: -1.8em;
    margin-right: 8px;
}

#main table {
    margin: 15px 0;
    border-collapse: collapse;
    width: 100%;
    padding: 0;
}
#main table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0;
}
#main table tr:nth-child(2n) {
    background-color: #f8f8f8;
}
#main table tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}
#main table tr td {
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}
#main table tr th :first-child, table tr td :first-child {
    margin: 0;
}
#main table tr th :last-child, table tr td :last-child {
    margin: 0;
}

#main table caption {
    margin-bottom: 4px;
}

@media print {
    html {
        text-justify: inter-word;
        background: transparent !important;
    }

    body {
        margin-left: 1in;
        margin-right: 1in;
        margin-top: 0;
        padding: 0;
    }

    pre {
        overflow-wrap: break-word;
    }
}